/*NAVBAR---------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(148, 42, 12, 0.586);
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 100;
}

.logo img {
    height: 100px;
    width: 100px;
    position: relative;
    left: -5%;
}

.logo h4 {
    margin-top: 39px;
    display: flex;
    position: relative;
    left: 1%;
    color: black;
}

.logo {
    display: flex;
    color: rgba(148, 42, 12, 0.586);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translate(0%);
}

@keyframes navlinkfade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*NAVBAR---------------------------------------------------------*/


/*header---------------------------------------------------------*/

.title {
    border-radius: 100px;
    margin-left: 20px;
    background-color: rgb(194, 84, 65);
    margin-top: 100px;
    /* max-width: 600px; */
    width: 700px;
}

.title h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color-adjust: black;
    text-decoration: solid;
}

.title button {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.title p {
    font-family: 'Oleo Script', cursive;
    border-radius: 20px;
    width: 400px;
    background-color: rgb(135, 56, 43);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    text-transform: capitalize;
    font-size: 20px;
}

.img {
    position: absolute;
    top: 30%;
    right: 30%;
    display: block;
    width: 200px;
    z-index: 1;
}


/*header---------------------------------------------------------*/


/*button--------------------------------------------------------*/

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


/*button--------------------------------------------------------*/